services:
  frontend:
    container_name: app-frontend-boilerplate
    build: ./Frontend/
    ports:
      - 3000:3000
    environment:
      - PRODUCTION_MODE=false
      - WATCHPACK_POLLING=true 
      - REACT_APP_API_BASE_URL=${REACT_APP_API_BASE_URL}
    volumes:
      - ./Frontend/src:/srv/src/
    networks:
      - web
  database:
    container_name: app-database-boilerplate
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    networks:
      - web
  api:
    container_name: app-api-boilerplate
    ports: 
      - 8080:8080
      - 5555:5555
    build: ./Api/
    environment:
      - PRODUCTION_MODE=false
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - TOKEN_EXPIRATION_DAYS=${TOKEN_EXPIRATION_DAYS}
      - HOSTNAME=${HOSTNAME}
      - PORT=${PORT}
      - CORS_ALLOW_ORIGIN=${CORS_ALLOW_ORIGIN}
    volumes:
      - ./Api/src:/api/src/
      - ./Api/prisma:/api/prisma/
    depends_on:
      - database
    networks:
      - web
  nginx:
    container_name: app-nginx-boilerplate
    build:
      context: ./
      dockerfile: ./nginx/dev/Dockerfile
    volumes:
      - ./nginx/dev/default.conf:/etc/nginx/conf.d/default.conf
    environment:
      - PRODUCTION_MODE=false
    ports:
      - "80:80"
    depends_on:
      - frontend
      - api
      - database
    networks:
      - web
    restart: always
networks:
  web:
    driver: bridge
