services:
  frontend:
    container_name: app-frontend-boilerplate
    build: ./Frontend/
    ports:
      - 3000:3000
    environment:
      - PRODUCTION_MODE=false
      - WATCHPACK_POLLING=true 
      - REACT_APP_LOCAL_API_BASE_URL=${LOCAL_API_BASE_URL}
    volumes:
      - ./Frontend/src:/srv/src/
    networks:
      - web
  database:
    container_name: app-database-boilerplate
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - web
  api:
    container_name: app-api-boilerplate
    ports: 
      - 8080:8080
      - 51212:51212
    build: ./Api/
    environment:
      - PRODUCTION_MODE=false
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - TOKEN_EXPIRATION_DAYS=${TOKEN_EXPIRATION_DAYS}
      - HOSTNAME=${HOSTNAME}
      - PORT=${PORT}
    volumes:
      - ./Api/src:/api/src/
      - ./Api/prisma:/api/prisma/
    depends_on:
      - database
    networks:
      - web
  nginx:
    build:
      context: .
      dockerfile: ./nginx/dev/Dockerfile
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    environment:
      - PRODUCTION_MODE=false
    ports:
      - "80:80"
    depends_on:
      - frontend
      - api
      - database
    networks:
      - web
    restart: always
networks:
  web:
    driver: bridge
